a {
    text-decoration: none;
    color: #1e47b8; 
  }

  a :hover{
    background-color: #e4c2ba;
    border-radius: 5px;
  }
  
  a :active{
    background: #ffffff;
  }
  
  html {
    scroll-behavior: smooth; 
  }
  
  .container {
    width: 1440px;
    margin: 0 auto;
  }
  body {
    max-width: 1440px;
    margin: 0 auto;
    font-family: "Aleo", serif;
    font-size: 16px;
    word-break: break-word;
    background-color: #fff;
    color: #0d606f;
}




  
  
  .preview-back {
    width: 1440px;
    margin: auto;
    height: 765px;
    background-image: url(/travel/img/bgi.png);
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    background: rgba(242, 120, 92, 0.7);
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
    height: 90px;
  }

  .nav-link:hover{
    color: rgb(217, 66, 16);
  }
  
  .nav-link:active{
    color: #000000;
  }
  
  .travel-box {
    margin-top: -41px;
    margin-left: 40.5px;
  }
  
  .travel-portal {
    font-family: 'Magra';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-link {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    color: #FFFFFF;
    margin-right: 41px;
    padding: 0 20px;
    line-height: 50px;
  }
  
  .text-button {
    width: 103px;
    height: 41px;
    border: none;
    background: #0D606F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
  }
  
  .header-button {
    margin-top: 25px;
    margin-right: 120px;
  }
  
  .travel-portal {
    margin-left: 120px;
    margin-top: 26px;
  }
  
  .nav {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 5px;
  }
  
  .nav-list {
    display: flex;
    justify-content: space-between;
    margin-left: 39px;
  }
  
  .nav-list :nth-child(1) {
    margin-left: -35px;
  }
  
  .nav-list :nth-child(4) {
    margin-right: -5px;
  }
  
  .world-preview {
    width: 890px;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
    color: #FFFFFF;
    margin-left: 120px;
    margin-top: 32px;
    margin-left: 121px;
    letter-spacing: 0.95px;
    text-align: left;
  }
  
  .receive-preview {
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-left: 125px;
    margin-top: -33px;
    word-spacing: 4px;
    letter-spacing: 0.03px;
  }
  
  ::placeholder {
    color: #F2785C;
  }
  
  .input-preview {
    text-indent: 40px;
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
    border: none;
    width: 892px;
    height: 95px;
    margin-left: 120px;
    margin-top: 25px;
  }
  
  .button-input {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 32px;
  
    color: #FFFFFF;
  
    margin-left: -250px;
    border: none;
    background: #0D606F;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    width: 228px;
    height: 59px;
  }
  
  
  .steps {
    background-color: #FFFFFF;
  }
  
  .plan-tour-trip-text {
    word-spacing: 2px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 54px;
    color: #F2785C;
    margin-left: 417px;
    margin-top: 79px;
  }

  .steps-text {
    word-spacing: 2px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 54px;
    color: #F2785C;
    margin-left: 417px;
    margin-top: 79px;
  }

  .plan-tour-trip-icon {
    display: flex;
    margin: 0px 70px 0px 50px;
    margin-top: 10px;
  }
  
  .item-icon {
    flex: auto;
  }
  
  .item1-icon {
    margin-left: -24px;
    margin-top: 8px;
  }
  
  .item2-icon {
    margin-right: -30px;
    margin-top: 8px;
  }
  
  .item3-icon {
    margin-right: -10px;
    margin-top: 8px;
  }
  
  .icon-maintext {
    display: flex;
    justify-content: center;
  }
  
  .icon-info {
    display: flex;
    justify-content: space-between;
    width: 1177px;
    margin-top: 9px;
  }
  
  .icon-text {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #0D606F;
  }
  
  .icon-text2 {
    margin-left: 70px;
  }
  
  .destinations {
    background-color: #FFFFFF;
    height: 1291px;
  }
  
  .destination-main {
    display: flex;
    justify-content: center;
    margin-top: 76px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 53px;
    color: #F2785C;
    letter-spacing: 0.8px;
  }
  
  .destinations-container {
    margin-top: 50px;
    overflow: hidden;
  }
  
  .destinations-image-main {
    display: flex;
    margin: 0 -570px;
  }
  
  .destiantions-image {
    border-radius: 16px;
    margin: 0 30px;
  }
  
  .japan {
    position: absolute;
    margin-top: -90px;
    margin-left: 47px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
  
    color: #ffffff;
  }
  
  .destination-image-text {
    position: relative;
    text-align: left;
  }
  
  .spain {
    position: absolute;
    margin-top: -90px;
    margin-left: 47px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    color: #FFFFFF;
  }
  
  
  .usa {
    position: absolute;
    margin-top: -90px;
    margin-left: 47px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    color: #FFFFFF;  
  }
  
  .button-destinations {
    display: flex;
    justify-content: center;
    margin-top: 32px;
  }
  
  .button-destinations {
    margin: 0 10px;
    margin-top: 20px;
  }
  
  .button-item {
    margin: 0 10px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: none;
    background: rgba(242, 120, 92, 0.5);
  }
  
  .button-item2 {
    border: none;
    border-radius: 50%;
    background: #F2785C;
    width: 20px;
    height: 20px;
  }
  
  .button-find {
    display: flex;
  
    justify-content: space-evenly;
    align-items: center;
  
    width: 228px;
    height: 59px;
    background: #0D606F;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    border: none;
  
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 37px;
  }
  
  .text-find {
    margin-left: -16px;
  }
  
  .travel-st {
    border: #0D606F;
    display: flex;
    justify-content: center;
    margin-top: 79px;
    letter-spacing: 1px;
  
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
  
    color: #F2785C;
  }
  
  .footer-background {
    background-image: url(/travel/img/Rectangle\ 33.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .stories {
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7))
  }

  .link-stories{
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
    color: #0D606F;
  }

  .link-stories:hover{
    background-color: #e4c2ba;
    border-radius: 5px; 
  }

  .link-stories:active{
    background-color: #ffffff;
   color: #000;
  }

  .image-position {
    margin-right: 40px;
  }
  
  .all-stories {
     padding: 40px 0;
    margin-left: 120px;
    margin-right: 120px;
  
    display: flex;
    justify-content: center;
    flex-direction: column;
  
    align-items: center;
  }
  
  
  .social-ul {
    display: flex;
    list-style: none;
  }
  
  .stories-main {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
     margin: 0;
    color: #0D606F;
  }
  
  .stories-text {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
  
    color: #0D606F;
  }
  
  .stories-png {
    filter: drop-shadow(0px 4px 4px #0D606F);
    border-radius: 16px;
  }
  
  .stories1-4 {
   display: flex;
   margin-bottom: 29px;
  }
  
  .button-stories-body {
    padding-right: 15px;
    display: flex;
    justify-content: space-evenly;
    padding-right: 15px;
    align-items: center;
    border: none;
    width: 228px;
    height: 59px;
    background: #0D606F;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
  }
  
  .button-stories {
    display: flex;
    justify-content: center;
  
  }
  
  
  .footer-text {
    margin-left: 460px;
    padding-bottom: 10px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
  
    color: #FFFFFF;
  
  }
  .social-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 720px;
    margin-right: 120px;
  }
  
  .footer {
    display: flex;
   
    justify-content: flex-end;
  }
  .social-st li{
  margin-left: 20px;
  }

  button:hover{
    background-color: #245f2c;
    color: rgb(10, 12, 12);
  }
  button:active{
    padding: 1px;
    font-size: 700;
  }
  
.footer {
  display: flex;
 
  justify-content: center;
}
.social-ul li{
margin-left: 20px;
}
button:hover{
  background-color: #174b19;
  color: rgb(247, 247, 19);
}
button:active{
  padding: 1px;
  font-size: 700;
}

.footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 61px;
}

.footer-wrapper-icon {
    margin: 0 120px 0 119px;
}
.footer-wrapper {
    background-size: 100%;
    background: url("assets/img/wp-travell.jpg") no-repeat center bottom;
    background-position: bottom;
}
.footer-container{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    
}

.tr-stor {
    display: flex;
    justify-content: center;
    margin-top: 76px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 53px;
    color: #F2785C;
    letter-spacing: 0.8px;
  }
  .social {
      display: flex;
  }